<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    MapperInterface와 Mapper XML을 연동하는 방법
    1. 인터페이스(java)와 xml(resources)이 동일한 경로에 같은 이름으로 존재
    2. 인터페이스의 풀 네임 ( 패키지 명 + 인터페이스 명)을 namespace;
    3. 인터페이스의 메서드 명과 XML의 SQL id, 리턴타입을 동일하게 작성 동일하게 작성
-->
<mapper namespace="com.work.section03.remix.MenuMapper">
    <!-- select 태그에 필수로 작성해야 되는 속성
        1) id
        2) resultType 또는 resultMap 둘중에 하나가 있어야한다.
          - resultType : 조회 결과를 저장할 java 타입 만약 지정된 타입이 DTO 객체일 경우 조회된 컬럼명과 DTO 필드명이 같으면 자동으로 대입된다.
    - resultMap : 조회된 컬럼명이 DTO 필드와 맞지 않을경우 이를 알맞게 매핑 시켜주는 태그
-->
    <select id="selectAllMenu"  resultType="com.work.section03.remix.MenuDTO" >
        SELECT menu_code,menu_name,menu_price,category_code, orderable_status
        FROM tbl_menu
        WHERE orderable_status = 'Y'
        ORDER BY menu_code ASC
    </select>

    <!--메뉴 코드가 일치하는 메뉴 조회-->
    <!--
        전달 받은 파라미터가 이름을 #{} 내부에 작성하면 해당 위치에 해당 값이 대입된다.

        - 파라미터가 기본 자료형인 경우
          -> #{}  내부 명칭 관계 없이 무조건 대입됨
        - 파라미터가 객체 타입인 경우
          -> #{} 내부 명칭을 필드명 또는 key 값고 ㅏ일치 시켜야 알맞게 대입됨

    -->
    <select id="selectMenuByMenuCode" resultType="MenuDTO">
        SELECT menu_code,menu_name,menu_price,category_code, orderable_status
        FROM tbl_menu
        WHERE menu_code = #{menuCode}
d    </select>

    <insert id="insertMenu" >
        INSERT INTO tbl_menu(menu_name, menu_price, category_code, orderable_status)
        VALUES(#{menuName}, #{menuPrice}, #{categoryCode}, 'Y')
    </insert>

    <update id="updateMenu" parameterType="MenuDTO">
        UPDATE tbl_menu
        SET menu_name = #{ menuName }
        , menu_price = #{ menuPrice }
        , category_code = #{ categoryCode }
        WHERE menu_code = #{ menuCode }
    </update>

    <!--parameterType은 optional(선택적) 속성으로
    작성되지않으면 Mybatis의 TypeHandler가 알아서 추론 -->
    <delete id="deleteMenu">
        DELETE FROM tbl_menu
        WHERE menu_code = #{ menuCode }
    </delete>
</mapper>